{% extends 'layouts.html' %} {% block title %} Crear {{ super() }} {% endblock
title %} {% block content %}

<center><h1>Crear Emergencia</h1></center>

<div class="container">
  <div class="col s12 m5">
    <div class="card-panel grey lighten-4">
      <div class="row">
        <form class="col s12" action="" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input
                id="first_name"
                type="text"
                name="clave"
                {%
                if
                emer
                %}
                value="{{emer.1}}"
                {%
                endif
                %}
                class="validate"
              />
              <label for="first_name">Clave</label>
            </div>
            <div class="input-field col s6">
              <input
                id="last_name"
                type="text"
                name="direccion"
                {%
                if
                emer
                %}
                value="{{emer.2}}"
                {%
                endif
                %}
                class="validate"
              />
              <label for="last_name">Dirección</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input
                id="first_name"
                type="date"
                name="fecha"
                {%
                if
                emer
                %}
                value="{{emer.3}}"
                {%
                endif
                %}
                class="validate"
              />
              <label for="first_name">Fecha</label>
            </div>
            <div class="input-field col s6">
              <input
                id="last_name"
                type="text"
                name="descripcion"
                {%
                if
                emer
                %}
                value="{{emer.4}}"
                {%
                endif
                %}
                class="validate"
              />
              <label for="last_name">Descripción</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <select name="estado">
                {% if emer %}
                <option value="" disabled selected>
                  {% if emer.5 == 1 %}Activa{% elif emer.5 != 1 %}Inactiva{%
                  endif %}
                </option>
                {% else %}
                <option value="" disabled selected>Selecciona opción</option>

                {% endif%}
                <option value="1">Activa</option>
                <option value="0">Inactiva</option>
              </select>
              <label>Estado Emergencia</label>
            </div>
          </div>

          {% if emer %}
          <button
            class="btn waves-effect waves-light"
            type="submit"
            name="action"
          >
            Actualizar
            <i class="material-icons right">send</i>
          </button>
          {% else %}
          <button
            class="btn waves-effect waves-light"
            type="submit"
            name="action"
          >
            Guardar
            <i class="material-icons right">send</i>
          </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
